@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.card {
    background-color: white;
    max-width: 370px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card-image {
    width: 100%;
    display: block;
}

.card-content {
    padding: 30px 25px;
}

.card-content h1 {
    font-size: 24px;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    margin-bottom: 15px;
}

.card-content p {
    color: hsl(224, 23%, 55%);
    font-size: 16px;
    margin-bottom: 25px;
}

.plan-box {
    background-color: hsl(225, 100%, 98%);
    border-radius: 12px;
    padding: 18px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.plan-info {
    display: flex;
    gap: 15px;
    align-items: center;
}

.music-icon {
    width: 48px;
    height: 48px;
}

.plan-text strong {
    display: block;
    font-weight: 700;
    color: hsl(223, 47%, 23%);
    font-size: 14px;
    margin-bottom: 4px;
}

.plan-text p {
    color: hsl(224, 23%, 55%);
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.change-link {
    font-size: 14px;
    font-weight: 700;
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
    transition: color 0.2s;
}

.change-link:hover {
    color: hsl(245, 83%, 68%);
}

.plan-info p {
    color: hsl(224, 23%, 55%);
    font-size: 14px;
}

.primary-button {
    background-color: hsl(245, 75%, 52%);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: background 0.3s;
}

.primary-button:hover {
    background-color: hsl(245, 83%, 68%, 1);
}

.secondary-button {
    background: none;
    border: none;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    cursor: pointer;
    font-size: 16px;
}

.secondary-button:hover {
    color: hsl(223, 47%, 23%);
}

/* .attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
    color: hsl(224, 23%, 55%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
} */